<%- include("./partials/header") %>

<h1  class="text-center my-3 text-uppercase fw-bold">Library</h1>
<hr>
<br><br>

<% books.forEach(function(book,index){%>

   

      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title"><%= book.name %></h5>
          <p class="card-text"><%= book.author %></p>
          <br><br>
          <p class="card-text"><%= book.description %></p>
          <a href="/delete/<%= book._id %>" class="btn btn-primary">delete BOOK</a>
          <a href="/update/<%= book._id %>" class="btn btn-primary">update BOOk</a>
        </div>
    
  </div>


  
<%}) %>

<%- include("./partials/footer") %>
